.img-1{
    height:100vh;
    width:100%;
}
.heading-1{
    position: relative;
    bottom:60px;
   padding-left:200px;
   font-family: 'Staatliches', cursive;
   font-size:80px;
   font-weight:600;
   color:gold;
}
.heading-2{
   padding-left:200px;
   font-family: 'Piedra', cursive;
   font-size:80px;
   font-weight:900;
   color:green;
}
.heading-3{
    font-family: 'Staatliches', cursive;
    color: grey;
    font-size:80px;
   font-weight:900;
   text-align: center;
}
.heading-4{
    font-family: 'Piedra', cursive;
    color: lavender;
    font-size:80px;
   font-weight:900;
   text-align: center;
}
.heading-5{
    font-family: 'Staatliches', cursive;
    color: lawngreen;
    font-size:80px;
   font-weight:900;
   text-align: center;
}
.img-2{
    width:100%;
}
.heading-6{
    font-family: 'Anton', sans-serif;
    font-size:70px;
   font-weight:900;
   text-align: center;
}
.heading-7{
    font-family: 'Merriweather', serif;
    color:red;
    font-size:70px;
   font-weight:900;
   text-align: center;
}
.heading-2{
    background-color: yellow;
}
.heading-8{
    font-family: 'Anton', sans-serif;
    color:green;
    font-size:40px;
   font-weight:900;
   text-align: center;
}
.text-box-1{
    width:100%;
    height:200px;
}
.footer{
    height:200px;
    width:100%;
    background-color: black;
}
.heading-10{
    font-size: 40px;
    color: yellow;
    font-weight: 800;
}
.img-3{
    height:40px;
}
.blah{
    margin-left: 30px;
}
.heading-11{
    color: violet;
}

